@import "tailwindcss";

@theme {
  --font-robotoMono: "Roboto Mono", monospace;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fade 0.25s ease forwards;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.96);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-dropdown {
  animation: dropdown 0.25s cubic-bezier(0.16, 1, 0.3, 1);
}
